{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
<link href="/css/style.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <header id="banner">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light">Bienvenue chez le traiteur !!</h1>
                    <p class="lead">La suite au prochain apéro...</p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
