{% extends "base.html.twig" %}

{% block title %}Modification de type d'article{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.libelle) }}
    {{ form_row(form.categorie) }}
    <button type="submit">Edit</button>
    {{ form_end(form) }}

{% endblock %}